:root {
  --color-primary: #998066;
  --color-secondary: #485166;
  --color-tertiary: #476a59;
  --color-warning: '';
  --color-success: '';
  --color-danger: '';
  --color-light: '';
  --color-medium: '';
  --color-dark: '';

  --color-primary-0: #998066;
  --color-primary-1: #ffae5b;
  --color-primary-2: #e0b283;
  --color-primary-3: #59524b;
  --color-primary-4: #181818;

  --color-secondary-1-0: #485166;
  --color-secondary-1-1: #5276c2;
  --color-secondary-1-2: #5e7095;
  --color-secondary-1-3: #33363b;
  --color-secondary-1-4: #101010;

  --color-tertiary-0: #476a59;
  --color-tertiary-1: #47c78a;
  --color-tertiary-2: #5c9c7d;
  --color-tertiary-3: #343e39;
  --color-tertiary-4: #111111;

  --font-family-primary: 'Courier New', Courier, monospace;
  --font-family-secondary: '';
  --font-color-primary: '';
  --font-color-secondary: '';

  font-family: var(--font-family-primary);
}
