:host {
  /**
  * @prop --svg-height: Height of the toggle control
  * @prop --svg-width: Width of the toggle
  * @prop --svg-toggle-indicator-color: Color of the svg indicator
  * @prop --svg-toggle-container-color: Color of the svg container
  * @prop --svg-toggle-indicator-active-color: Color of the indicator when selecgted;
  * @prop --svg-toggle-container-active-color: Color of the container when selected;
  */
/* 
  --svg-height: 25px;
  --svg-width: '';
  --svg-toggle-indicator-color: rgb(209, 77, 77);
  --svg-toggle-container-color: rgb(20, 27, 27);
  --svg-toggle-indicator-selected-color: grey;
  --svg-toggle-container-selected-color: grey; */
}

.svg-toggle {
  height: var(--svg-height, 75px);
  /* width: var(--svg-width, 100%); */
}

.svg-toggle-indicator {
  fill: var(--svg-toggle-indicator-color, red);
  transition: 0.2s ease-in-out;
}

.svg-toggle-container {
  fill: var(--svg-toggle-container-color);
}

.selected-state {
  transform: translate(100px);
  fill: var(--svg-toggle-indicator-selected-color, grey);
  filter: var(--svg-toggle-indicator-filter, url('#white-glow'));
  /* filter: url('#yellow-glow'); */
}
